@font-face {
    font-family: "raleway";
    src: url("assets/fonts/raleway-regular-webfont.woff2"),
        url("assets/fonts/raleway-regular-webfont.woff");
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);

    
}

.container {
    display: flex;
    min-height: 100vh;
    background: white;
    
}

.left-side {
    position: relative;
    width: 40%;
}




.background {
    width: 100%;
    height: 100vh;
}


.logo {
    background-color: black;
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    opacity: 0.5;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 20vh;
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 4vh, 3rem);
    letter-spacing: 0.05em;
    font-family: "raleway", sans-serif;
    
    

}

.odin {
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
    
}

footer {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: clamp(1.1rem, 0.8vw, 1.2rem);
    transform: translateX(-50%);
    

}  


.left-side * a {
    color: antiquewhite;
}

.right-side { 
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-side div {
    width:1179.5px;
    box-sizing: content-box;
}


.quote {
    flex: 35;
    min-height: 150px;
    font-size: xx-large;
    display: flex;
    background-color: rgb(241, 240, 240);
    justify-content: center;
    align-items: flex-end;
    font-weight: 540;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: content-box;
    
}

.quote * p { 
    max-width: 50ch;
    padding-left: 20px;
    padding-bottom: 10px;
}



.details {
    flex: 30;
    min-height: 100px;
    padding-left: 120px;
    box-shadow:
     0 -4px 1rem -7px rgba(85, 85, 85, 0.856),
     0 4px 1rem -7px rgba(85, 85, 85, 0.856);   
       
}

.details > p {
    font-size:xx-large;
}

.inputs {
    display: flex;
    
}

.pair {
    display: flex;
    flex-direction: column;
}


.details * label {
    font-size:smaller;
}

.details * input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    outline: none;
    margin: 0;
}

.details input:focus {
    border-color:blue;
    box-shadow: 0 0 1rem -9px blue;
}

.details input[type="password"]:invalid {
    border-color: red;
} 


.submit {
    flex: 35;
    min-height: 150px;
}






