@font-face {
    font-family: "raleway";
    src: url("assets/fonts/raleway-regular-webfont.woff2"),
        url("assets/fonts/raleway-regular-webfont.woff");
}

:root {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    

    
}

.container {
    display: flex;
    min-height: 100vh;
    background: white;
    margin: 0;
    border: 0;
    
}

.left-side {
    position: relative;
    width: 30%;
}




.background {
    width: 100%;
    height: 100vh;
}


.logo {
    background-color: black;
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 18vh;
    color: white;
    text-align: center;
    font-size: 7rem;
    letter-spacing: 0.05em;
    font-family: "raleway", sans-serif;
    
    

}

.odin {
    max-height: 80%;
    object-fit: contain;
    opacity: 1;
    
}

footer {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: clamp(1.1rem, 0.5vw, 1.2rem);
    transform: translateX(-50%);
    

}  


.left-side * a {
    color: antiquewhite;
}

.right-side { 
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
}

.quote, .details, .submit {
    width: 100%;
    box-sizing: border-box;
    padding-left: 100px;
}


.quote {
    height: 35vh;
    font-size: xx-large;
    display: flex;
    align-items: center;
    background-color: rgb(241, 240, 240);

    
    
    
}

.quote * p { 
    max-width: 55ch;
    padding-bottom: 10px;
}



.details {
    height: auto;
    min-height: 30vh;
    box-shadow:
     0 -4px 1rem -7px rgba(85, 85, 85, 0.856),
     0 4px 1rem -7px rgba(85, 85, 85, 0.856);   
       
}

.details > p {
    font-size:xx-large;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25rem;
    row-gap: 2.8rem;
    max-width: 70rem;
    font-size: 0.9rem;
    
}

.pair {
    display: flex;
    flex-direction: column;
}




.details * input {
    min-width: 20rem;
    width: 100%;
    max-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    outline: none;
    margin: 0;
    font-size: 0.9rem;
}

.details input:focus {
    border-color:blue;
    box-shadow: 0 0 1rem -9px blue;
}

.details input[type="password"]:invalid {
    border-color: red;
} 


.submit {
    height: 35vh;
    padding-top: 40px;
    font-size: large;
    
    
}

.submit > button {
    width: 14rem;
    height: 3.2rem;
    border-radius: 10px;
    border: 0;
    background-color:#596D48;
    color: #E5E7EB;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2rem;
    
}

.submit * a {
    text-decoration: none;
    color: #596D48;
}







